@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-theme {
  background-color: #000;
  color: #ffffff;
}

.light-theme {
  background-color: #ffffff;
  color: #000;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 100vh;
  }
}
